 <!-- About Section -->
    <section class="success" id="about">
        <div class="container fancy">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 style="color:#fff;">Machine intelligence is here </h2>
                    <!-- <hr class="star-light"> -->
                </div>
            </div>
            <div class="row">
                
                <div class="container-about" style="color: #fff;">
                    We love data.
                    Our major focus is around predictive analytics, machine learning and 
                    artificial intelligence. Being at the center of computer science, 
                    statistics and engineering, we design solutions to real-world problems. 
                    We collect data, process them and deploy advanced machine learning 
                    algorithms that provide answers to yet unknown questions.
                    Our solutions are implemented in domains like finance, healthcare, social
                    media and logistics.
                    <br /><br />
                    At Amethix, we build innovative solutions with Deep Learning technology,
                    in markets where data is an asset, accuracy matters and machine intelligence
                    is required. 
                    
                 </div>
                
                 
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    
                    <!--
                    <a href="#" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> Download Theme
                    </a>
                    -->
                    
                </div>
            </div>
        </div>
    </section>
