 <!-- About Section -->
    <section id="portfolio">
        <div class="container">
        
        <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Our Vision</h2>
                </div>
            </div>
        <div class="container-about">    
        This goes beyond computer science. We’d like to change the way people think about data, knowledge, and information. Professionals from several domains can experience the benefits of technologies that were not always accessible in recent years. Data and algorithms are shaping the way people perceive the world, make predictions about the future and conduct business. <br />
         
        The way machine learning is changing common thinking about processes and information can be effective and disruptive at the same time. 
        <br /><br />
        Amethix was established to put Artificial Intelligence (AI) and advanced machine learning techniques at the disposal of organizations who understand how powerful such technologies can be.
        <br />
       <strong>Our mission:</strong> to give organizations the power to shape and improve their future with the data they own, and the business they define. 
        </div>


        
<div class="row">
  <div class="col-lg-12 text-center">
    <h2>Current Areas of focus</h2>
  </div>
</div>

<div class="container-about">
We are a data analytics company. Our main focus is around data analytics, artificial intelligence and deep learning solutions in domains such as healthcare and finance. <br />
        
Customized data analytics implementations are our main asset that make the business we operate versatile and adaptive with respect to the numerous scenarios of every day life. 
At Amethix, coding is art, even more so with engineering and artificial intelligence. There will never be a unique solution to suit all the problems organizations have to deal with. However, there are elegant and creative implementations that support humans with their decisions in more efficient and cost effective ways. 
<br />
That's how we do Artificial Intelligence. 
<br />	 
</div>
         
        </div>
    </section>
