    <!-- Header -->
    <header>
        <div class="container bg-img bg-img-home" >
            <div class="row" >
                <div class="col-lg-12">
                    <div>
                           <div class="intro-text">
		                <span class="name">{{ site.skills }}</span>
				<!--
		                <span class="author"> by {{ site.author }} </span>
				-->		                
				<span class="skills">You own your data. You define your business. We improve it.</span>

				
		            </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    

