<!DOCTYPE html>
<html>
    {% include head.html %}
    <body id="page-top" class="index">
    
    {% include nav.html %}
    
    
    <!-- Header -->
    <header>
        <div class="container bg-img bg-img-services" >
            <div class="row" >
                <div class="col-lg-12">
                   
                            <div class="intro-text">
		                <span class="name">Services</span>
				<span class="skills">You own your data. You define your business. We improve it.</span>
				
		            </div>
                   
                </div>
            </div>
        </div>
    </header>               
                    
    
	  <div style="height:42px; width:100%; clear:both;"></div> 
    {% include portfolio_grid.html %}

    {% include footer.html %}
    {% include modals.html %}
    {% include js.html %}
    
    {% include analytics.html %}
    </body>
</html>

 
